body {
    margin: 0px;
    min-height: 100vh;
    font-family:  "Roboto", sans-serif;
    background-color: #fff;
    font-size: 22px;
}
.header {
    margin: 0;
    border-bottom: 0.5px solid gray;
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

.container {
width: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
  margin-right: 180px;
}
.container> .cells {
  outline: 1px solid #d4d4d4;
  flex: 1;
  min-width: calc(100% / var(--number));
  aspect-ratio: 1 / 1;
}

.contents {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.side {
  display: flex;
  flex-direction: column;
}
.grid, .color, .options{
  margin-bottom: 12px;
  padding: 12px;

}
.gridSize {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pick {
  display: flex;
  gap:14px
  
}
#colorText {
  margin-bottom: 4px;
}
#ranColor {
    border-radius: 50%;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    width: 40px;
    height: 40px;
    border: none;
}
#pink {
     border-radius: 50%;
    background-color: #FFD1DC;
    width: 40px;
    height: 40px;
    border: none;
}
#blue {
     border-radius: 50%;
    background-color: #B0C4DE;
    width: 40px;
    height: 40px;
    border: none;
}

.options {
  display: flex;
  gap:16px;
}