body {
    margin: 0px;
    min-height: 100vh;
    font-family:  "Roboto", sans-serif;
    background-color: #fff;
}
.header {
    margin: 0;
    padding: 15px;
    border-bottom: 0.5px solid gray;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
* {
    box-sizing: border-box;
}
.contents {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-left: 180px;
}
.container {
width: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
}
.container> .cells {
  outline: 1px solid #d4d4d4;
  flex: 1;
  min-width: calc(100% / var(--number));
  aspect-ratio: 1 / 1;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 120px;
}
.one {
    margin-bottom: 96px;
}
.two {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.grid {
    margin-bottom: 16px;
    gap: 16px;
}